<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Facebook">
	<listeners>
		<listener class-name="pages.Listeners"/>
	</listeners>
    <test name="Regression">
         <classes>
             <class name="tests.FacebookLoginSpec"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->